name: zhitou

include:
  - docker/ragflow/ragflow-docker-compose.yaml

services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-17}
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    expose:
      - 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    ports:
      - "${GLOBAL__DATABASE__PORT:-5432}:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

  zt_redis:
    image: redis:${REDIS_VERSION:-7}
    environment:
      - "REDIS_ARGS=--appendonly yes"
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    volumes:
      - zt_redis-data:/data
    ports:
      - "${GLOBAL__REDIS__PORT:-6379}:6379"
    restart: always

volumes:
  postgres-data:
  zt_redis-data:

networks:
  default:
    name: zhitou
